
services/conf/spark-defaults.conf
__pycache__/
.git
comandos.txt
mnt/airflow/logs/
mnt/airflow/dags/credential/google_credential.json
credentials/google_credential.json
services/conf/.credentials.conf
mnt\spark_job\.env